extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back to Home Page
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 James Foss
        p.lead.text-light
          | Full Stack JavaScript Developer
        .portfolio-bio
          p
            | I am an aspiring Full Stack JavaScript Developer, and currently, I am honing my skills with Team Treehouse. My background
            | is in Finance, Economics & Accounting having been the controller for a small business for the previous 5 years. Through my
            | time in that industry, I gained a great respect for well built programs that increased business efficiency. After building
            | a few tools for myself, I fell in love with the problem solving and technical aspects of programming. Since then, I've made
            | the controversial decision to change careers, and now I intend to learn all I can. Luckily, my wife is interested in making
            | a move!
            br
            br
            | As an avid DIYer, I feel the problem solving nature and continual learning requirements of programming is suited to my
            | personality. When I'm not tackling new projects or chores, I have a few hobbies that fill my time. I've recently picked up
            | photography and videography, but admittedly, I'm not very good at those. When I'm lucky, I get to travel. This year, I
            | enjoyed a long trip to Europe!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li JQuery
          li AJAX
          li JSON
          li Express
          li Pug
          li Node
          li NPM
        h6 Contact Info
        ul
          li 229-232-0911
          li jamesfoss1@hotmail.com
        a.button.expanded(href='https://www.linkedin.com/in/james-foss-bb0b7563/') LinkedIn
        a.button.expanded(href='https://github.com/jfoss2018') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back to Home Page
