extends layout.pug

block content
  if error.status === 404
    .errorContent
      h2= 'Sorry guys, this page does not exist!'
  .errorContent
    h1.errorHeader= `Error: ${error.status}, ${error.message}`
    pre.stackTrace= error.stack
