extends layout.pug

block content
  .errorContent
    h2= 'Sorry guys, this page does not exist!'
  .errorContent
    h1.errorHeader= `Error: ${error.status}, ${error.message}`
    p.stackTrace= error.stack
